@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import "//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css";

.gradient-text {
    background: linear-gradient(to right, #F8DE56, #B2D170);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}