@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import "//cdn.jsdelivr.net/npm/font-kopub@1.0/kopubdotum.min.css";

.gradient-text {
    background: linear-gradient(to right, #F8DE56, #B2D170);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* custom-scrollbar 클래스 정의 */
.custom-scrollbar {
    padding: 0 0.5em;
    max-width: 360px;
    overflow: auto;
    overflow-y: auto; /* 세로 스크롤만 허용 */
    overflow-x: hidden; /* 가로 스크롤 숨기기 */
}

.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background-color: #F1F1F1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #D5E4B4;
}

.custom-scrollbar::-webkit-scrollbar-button {
    display: none;
}

/* hover 효과 */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #8CAD1E;
    transition: all 0.2s; /* 호버 효과에 전환 추가 */
}

/* 코너에 라운드 효과 */
.custom-scrollbar::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 5px;
}